body {
    width: 95%;
    display: block;
    margin: auto;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
.type {
    width: 100px;
    height: 30px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}
.header-logo {
    flex-grow: 2;
    height: 70px;
    flex-basis: 200px;
    margin-left: -10px;
}
.text1 {
    flex-basis: 100px;
}
.text2 {
    flex-basis: 80px;
}
.text3 {
    flex-basis: 80px;
}
.text4 {
    flex-basis: 210px;
}
.text5 {
    flex-basis: 150px;
}
.text6 {
    flex-basis: 80px;
}
.text7 {
    flex-basis: 80px;
}
.text8 {
    text-align: center;
    flex-basis: 120px;
}
.img {
    margin-left: 10px;
    margin-right: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    list-style-type: none;
    margin-top: 30px;
    margin-left: -30px;
}
a {
    color: #000;
    text-decoration: none;
}
.nav_text {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}
.mainphoto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 40px;
}
.main-text {
    color: #000;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    margin-left: -30px;
}
.roshen {
    width: 1200px;
    height: 430px;
    margin-left: -30px;
}
.description {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-end;
}
b {
    font-size: 1.2em;
    font-weight: 700;
}
p {
    line-height: 2rem;
    font-size: 1em;
    margin-left: 10px;
}
footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.logo-foot {
    height: 70px;
    flex-basis: 200px;
}
.footer {
    width: 100px;
    height: 30px;
    margin: 1rem;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 1em;
    font-weight: 700;
    margin-left: 40px;
}
.addres {
    flex-basis: 175px;
}
.phone {
    flex-basis: 200px;
}
.email {
    flex-basis: 150px;
}
.socials {
    flex-basis: 100px;
}