header {
    background-image: url(images/header_photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.form {
    width: 350px;
    height: 387px;
    background-color: rgba(0, 0, 0, 0.5);
}
.justify-content-end {
    margin-left: 100px;
    margin-right: 10px;
}
.form-control {
    border: 0px;
    border-bottom: 1px solid #ffff;
    border-radius: 0px;
    width: 250px;
    line-height: 35px;
    font-size: 1.2em;
}
input::placeholder {
    text-align: center;
}
button {
    background-color: #0aa321;
    color: #ffff;
}
.button {
    padding-left: 70px;
    padding-right: 70px;
}
.img-block {
    background-image: url(images/dynamic.png);
    background-repeat: no-repeat;
    background-position-x: -50px;
    height: 220px;
}
.back-block {
    margin-bottom: 100px;
}
.back-block1 {
    background-image: url(images/earth.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 400px;
}
footer {
    background-color: #000;
}