body {
    background-color: #b3afaf;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #18122b;
} 
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div {
    width: 30%;
    height: 40%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #ffff;
    border-radius: 10px;
}
h2 {
    margin-top: 15%;
    font-size: 2em;
}
form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 100%;
    border-width: 0px 0px 2px 0px;
    border-color: #aaaaaa;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
}
input:placeholder-shown {
    color: #944bff;
    outline-color: #944bff;
}
section {
    position: relative;
    width: 100%;
}
button#toggle-password {
    position: absolute;
    top: 60%;
    right: -2%;
    border-width: 0px;
    background-color: #ffff;
    cursor: pointer;
}
button img {
    transform: scale(0.7);
}
.autorisation-button {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 15%;
    border-radius: 30px;
    border-width: 0px;
    color: #ffff;
    background: linear-gradient(to right, #2cc7fe, #ab2fff);
    cursor: pointer;
    font-size: 14px;
}
.autorisation-button:hover {
    background: linear-gradient(to right, #5be52a, #79163b);
}
p {
    margin-top: 23%;
    margin-bottom: 7%;
}
a {
    text-decoration: none;
    color:#18122b;
}
a:hover {
    color: #53544d;
    transition: all 0.2s ease;
}