body {
    margin: 0 auto;
    width: 1300px;
}
header {
    width: 1300px;
    height: 70px;
    background-color: #8c0a0d;
}
.LOGO {
    width: 177px;
    height: 41px;
    margin: 15px 125px 0 67px;
    float: left;
} 
.menu {
    padding-top: 33px;
    padding-bottom: 25px;
}
.menu a {
    font-family: 'Minion Pro';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    color: #f8bd6f;
}
.menu span {
    height: 11px;
    margin-left: 30px;
    float: left;
}
.menu span:first-of-type {
    margin: 0;
}
.language {
    height: 13px;
    float: right;
    padding-right: 56px;
}
.language a {
    padding-left: 11px;
    font-size: 18px;
}
main {
    background-image: url(images/background.png);
    background-color: #f5e8c6;
    background-blend-mode: soft-light;
    width: 1300px;
    height: 680px;
    position: absolute;
}
.content {
    height: 30px;
}
.image {
    width: 1170px;
    height: 335px;
    background-image: url(images/photo.png);
    margin-left: 65px;
    margin-top: 42px;
    border: 4px #35040c;;
}
.title {
   font-size: 60px;
   color: #35040c;
   font-family: "OpenSans", "BellMT";
   margin-left: 360px;
   padding-top: 25px;
}
.button {
   margin: 20px 490px;
}
.buttontext {
    width: 189px;
    height: 47px;
    text-align: center;
    font-size: 24px;
    color: #030303;
    font-family: "MinionProBold";
    background-color: #f6cc79;
    border-radius: 10px/10px;
    box-shadow: 0 5px #bf670d;
    padding: 13px 16px 13px 16px;
}
.leftarrow {
    width: 55px;
    height: 55px;
    background-image: url(images/arrowleft.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 28px;
    margin-top: -10px;
}
.rightarrow {
    width: 55px;
    height: 55px;
    background-image: url(images/arrowright.png);
    background-repeat: no-repeat;
    float: right;
    padding-right: 28px;
    margin-top: -10px;
}
.circles {
    width: 64px;
    height: 16px;
    margin: 170px auto 0 auto;
}
.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    float: left;
}
#white {
    background-color: #ffff;
}
#orange {
    background-color: #bf670d;
    margin: 0 8px 0 8px;
}
.headline1 {
    width: 269px;
    height: 64px;
    position: absolute;
    margin-top: 30px;
    margin-left: 65px;
    font-weight: 600;
    font-size: 17px;
}
.headline2 {
    height: 65px;
    width: 276px;
    position: absolute;
    margin-top: 30px;
    margin-left: 363px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Minion Pro';
}
.headline3 {
    height: 89px;
    width: 233px;
    position: absolute;
    margin-top: 30px;
    margin-left: 662px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Minion Pro';
}
.headline4 {
    height: 63px;
    width: 249px;
    position: absolute;
    margin-top: 30px;
    margin-left: 957px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Minion Pro';
}
.new1 {
    height: 64px;
    width: 269px;
    position: absolute;
    margin-top: 140px;
    margin-left: 65px;
    font-size: 16px;
    font-family: 'Minion Pro';
}
.new2 {
    height: 65px;
    width: 276px;
    position: absolute;
    margin-top: 140px;
    margin-left: 363px;
    font-size: 16px;
    font-family: 'Minion Pro';
}
.new3 {
    height: 89px;
    width: 233px;
    position: absolute;
    margin-top: 140px;
    margin-left: 662px;
    font-size: 16px;
    font-family: 'Minion Pro';
}
.new4 {
    height: 63px;
    width: 249px;
    position: absolute;
    margin-top: 140px;
    margin-left: 957px;
    font-size: 16px;
    font-family: 'Minion Pro';
}
.footer {
    width: 1300px;
    height: 71px;
    background-color: #8c0a0d;
    position: relative;
    margin-top: 300px;
}
.website {
    height: 14px;
    margin-left: 64px;
    margin-top: 36px;
    font-size: 14px;
    color: #f8bd6f;
    float: left;
}
.address {
    width: 148px;
    height: 38px;
    margin-left: 102px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    float: left;
    color: #f8bd6f;
}
.phone {
    width: 149px;
    height: 37px;
    margin-left: 149px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    text-align: end;
    float: left;
}
.phone a {
    color: #f8bd6f;
}
.email {
    width: 138px;
    height: 36px;
    margin-left: 155px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    float: left;
    color: #f8bd6f;
}
.email a {
    color: #f8bd6f;
}
.socialmedia {
    height: 28px;
    float: right;
    margin-top: 21px;
    margin-right: 68px;
}