body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
header {
    position: relative;
    width: 100%;
    height: 50vw;
    background-image: url(images/truck1header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    filter: grayscale(0);
}
header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.menu [src*="logo.png"] {
    position: relative;
    z-index: 3;
}
.menu [src*="logo.png"] {
    top: 2vw;
    left: 7%;
    width: 12%;
    float: left;
}
.tabs [src*="logo.png"] {
    position: relative;
    z-index: 3;
}
.tabs {
    display: grid;
    justify-content: end;
    grid-template-columns: 4% repeat(4, 7%)4% 4% 13%;
    padding: 2.5% 4% 0 0;
    align-items: baseline;
    justify-items: center;
    grid-column-gap: 1%;
}
.tabs a {
    font-size: 1vw;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}
.tabs a:hover {
    color: #d70413;
}
.search {
    width: 100%;
}
.search button {
    width: 100%;
    height: 2vw;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-color: inherit;
    border: none;
    background-position-y: 120%;
}
.button {
    width: 100%;
}
.button button {
    font-size: .8vw;
    font-weight: 600;
    color: #ffff;
    background-color: inherit;
    border: .1vw solid #ffff;
    padding: 7% 10%;
}
.theme [src*="logo.png"] {
    position: relative;
    z-index: 3;
}
.theme {
    margin: 6% 0 0 18%;
    width: 50%;
}
.theme p:nth-child(1) {
    font-size: 1.5vw;
    color: #ffff;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.1vw;
}
.theme h1 {
    font-size: 4.5vw;
    color: #ffff;
    margin: 0;
    line-height: 6vw;
    font-weight: 700;
}
.theme p:nth-child(3) {
    font-size: 1vw;
    color: #ffff;
    margin: 5% 0;
    width: 70%;
    font-weight: 100;
}
.theme .button button {
    padding: 3% 8%;
    background-color: #d70413;
    font-weight: 900;
    border: none;
    font-size: 0.9vw;
}
.item-switch {
    position: absolute;
    bottom: 10%;
    left: 48%;
}
.item-switch a {
    text-decoration: none;
    display: inline-block;
}
.previous {
    background-color: inherit;
    font-size: 1.5vw;
    color: #d70413;
}
.next {
    background-color: inherit;
    font-size: 0.9vw;
    color: #ffff;
}
main {
    position: relative;
    padding-bottom: 8%;
}
.map {
    background-image: url(images/map);
    width: 100%;
    height: 28vw;
    background-blend-mode: soft-light;
    background-color: #e9e9e9;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 60% 60%;
    position: relative;
}
.freight {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 20%);
    column-gap: 1.5%;
    justify-content: center;
    position: relative;
    top: -10%;
}
.freight div {
    background-color: #ffff;
}
.freight img {
    width: 100%;
    height: 65%;
}
.freighttext {
    padding: 5% 10%;
    position: relative;
}
.freighttext h3 {
    margin: 0;
    font-size: 1vw;
    position: inherit;
}
.freighttext h3::after {
    content: "";
    width: 10%;
    height: 15%;
    background-color: #d70413;
    position: absolute;
    top: 120%;
    left: 0;
}
.freighttext p {
    font-size: .8vw;
    color: #bdc2c6;
}
.services {
    display: grid;
    grid-template-columns: 33% 15%;
    justify-items: center;
    justify-content: center;
    grid-column-gap: 23%;
    align-items: center;
    position: relative;
    top: 5%;
}
.services span:nth-child(1) {
    font-size: 1vw;
    color:#7c7c7c;
}
.services button {
    font-size: .8vw;
    color: #000;
    border: none;
    background-color: inherit;
}
.arrow {
    color: #d70413;
}
.about > p:nth-child(1) {
    width: 77%;
    font-size: 1.7vw;
    color:#7c7c7c ;
    text-align: center;
    margin: 6% auto;
    position: relative;
}
.about > p:nth-child(1):after {
    content: "";
    width: 10%;
    height: 5%;
    background-color: #d70413;
    position: absolute;
    bottom: -80%;
    left: 45%;
}
.about-switch {
    display: grid;
    grid-template-columns: 49% 48%;
    justify-items: center;
}
.slider h1, .reasons h1, .item-face h1, .list-block h1{
    font-size: 2vw;
    color: #000;
    font-weight: 800;
    position: absolute;
    top: -15vw;
}
.slider {
    background-color: #7c7c7c;
    width: 60%;
    height: .1vw;
    position: relative;
    margin: 35% 0 0 10%;
}
.switch {
    width: .4vw;
    height: .4vw;
    border-radius: 50%;
    background-color: #d70413;
    position: absolute;
    top: -1px;
    left: 0;
    transition: .2s;
}
.slider input {
    width: 30%;
    opacity: 0;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    top: -3vw;
}
.slider label {
    position: absolute;
    top: -3vw;
    left: 1%;
    font-size: 1vw;
    font-weight: 600;
    color: #7c7c7c;
    transition: .5s;
}
.slider label:nth-child(4) {
    left: 38%;
}
.slider label:nth-child(6) {
    left: 73%;
}
.slider input:checked~.switch {
    left: 10%;
}
.slider input~input:checked~.switch {
    left: 48%;
}
.slider input~input~input:checked~.switch {
    left: 86%;
}
.slider p, .block-choice-list p {
    margin: 0;
    font-size: 1vw;
    color: #7c7c7c;
}
.photo-workers {
    margin: 8% 0 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 4%;
}
.photo-workers img {
    width: 20vw;
}
.video {
    margin: 5% 0 0 0;
    background-image: url(images/videocar.jpg);
    width: 100%;
    height: 33vw;
    background-position: 0 -15vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: soft-light;
    background-color: #070c0d;
    display: grid;
    grid-template-rows: 7% 18% 5%;
    grid-row-gap: 10%;
    position: relative;
    justify-content: center;
}
.video p {
    font-size: 1.1vw;
    color: #ffff;
    margin: 0 auto;
}
.video p:nth-child(1) {
    margin-top: 7%;
}
.video h1 {
    font-size: 1.4vw;
    color: #ffff;
    margin-top: 3%;
    margin-left: 7%;
}
.video h1 {
    font-size: 2vw;
    margin-left: 15%;
}
.video h1::after {
    content: "";
    width: 6%;
    height: .1%;
    background-color: #d70413;
    position: absolute;
    top: 33%;
    left: 47%;
}
.video p:nth-child(3) {
    font-size: 0.8vw;
    margin-top: -2%;
}
.video a img {
    width: 60vw;
    height: auto;
    margin-top: -5%;
}
.block-choice {
    margin-top: 30vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3%;
}
.block-choice-photo {
    display: grid;
    grid-template-columns: 42% 42%;
    grid-column-gap: 6%;
    margin-left: 10%;
}
.block-choice-photo img {
    width: 20vw;
}
.block-choice-list {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 31% 42% 14%;
}
.block-choice-list h1 {
    position: unset;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}
.block-choice-list p {
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    position: relative;
}
.block-choice-list p::after {
    content: "";
    width: 15%;
    height: 1%;
    background-color: #d70413;
    position: absolute;
    top: 60%;
    left: 0;
}
ul {
    list-style-type: disclosure-closed;
    padding: 0 0 0 5%;
    margin-top: -8%;
}
li {
    color: #000;
    font-size: 1.1vw;
    line-height: 210%;
}
li::marker {
    color: #d70413;
    font-size: .7vw;
}
.block-choice-list button {
    padding: 6.5% 10%;
    color: #ffff;
    font-size: 1vw;
    font-weight: 500;
    background-color: #d70413;
    border: none;
    margin-top: -10%;
}
.section-questions {
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    justify-items: center;
}
.list-block {
    width: 75%;
}
.list-block h1, .item-face h1 {
    position: unset;
    padding-bottom: 10%;
}
.list-item {
    position: relative;
    margin-bottom: 2%;
    width: 100%;
    overflow: hidden;
}
.list-item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.list-item label {
    position: relative;
    display: block;
    padding: 0 0 0 4vw;
    background: inherit;
    line-height: 3;
    cursor: pointer;
    font-size: 1vw;
    border: none;
    color: #000;
    transition: all;
}
.list-item label:hover {
    vertical-align: middle;
    color: #d70413;
}
.item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s;
    font-size: 1vw;
    color: #7c7c7c;
    padding: 0 0 0 3vw;
    background: inherit;
    border-bottom: 1px solid #7c7c7c;
}
.item-content p {
    margin: 1em;
}
.list-item input:checked~.item-content {
    max-height: 100vh;
}
.list-item label::after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    transition: all .40s;
}
.list-item input[type=checkbox]+label::after {
    content: "+";
}
.list-item input[type=checkbox]:checked+label::after {
    content: "-";
    transform: rotate(180deg);
    color: #d70413;
}
.consultants {
    width: 60%;
    padding: 10% 0 0 0;
}
.consultants div {
    display: grid;
    grid-template-rows: .1fr .1fr 1fr;
    grid-template-columns: 15% 1fr;
    margin-bottom: 10%;
}
.consultants div img {
    width: 3.8vw;
    height: 3.5vw;
}
.consultants div span:nth-of-type(1) {
    font-size: 1vw;
    color: #d70413;
    padding-top: 3%;
}
.consultants div span:nth-of-type(2) {
    grid-column: 2;
    font-size: 1vw;
    color: #9c9c9c;
}
.consultants div p {
    grid-column: 1/3;
    font-size: 1vw;
    color: #9c9c9c;
}
.purchase {
    background-color: #d70413;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .2fr;
}
.purchase h2 {
    font-size: 2vw;
    color: #ffff;
    margin: 0;
    padding: 4% 0 3% 30%;
}
.purchase p {
    grid-column: 1;
    font-size: 1vw;
    color: #ffff;
    font-weight: 300;
    margin-top: -1%;
    padding: 0 0 5% 30%;
}
.purchase form {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 6% 0 0 12%;
}
.purchase form button {
    padding: 1.5vw 5vw;
    font-size: 1vw;
    font-weight: 600;
    color: #ffff;
    background-color: #1f2130;
    border: none;
}
.information {
    background-color: #1f2130;
    display: grid;
    grid-template-columns: 18% 24% 35%;
    justify-content: center;
    grid-gap: 4%;
    padding: 5% 0;
    position: relative;
}
.information::after {
    content: "";
    width: 80%;
    height: .2%;
    background-color: #3e404f;
    position: absolute;
    bottom: 25%;
    left: 9%;
}
.footer_logo {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-template-rows: auto;
    grid-column-gap: 6%;
    padding-top: 7%;
}
.footer_logo > img {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
}
.footer_logo > p {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    font-size: 1.1vw;
    color: #8f969e;
    margin: 10% 0;
}
.footer_logo a {
    grid-row-start: 3;
}
.footer_logo a img {
    width: 2.3vw;
}
.company_links {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 8%;
}
.company_links h1, .company-information-news h1 {
    font-size: 1.3vw;
    color: #ffff;
    position: relative;
    margin: 0 0 10% 0;
}
.company_links h1::after, .company-information-news h1::after {
    content: "";
    width: 45%;
    height: .5%;
    background-color: #d70413;
    position: absolute;
    top: 120%;
    left: 0;
}
.company_links a, .company-information-news a {
    font-size: 1vw;
    color: #dde2e6;
    text-decoration: none;
    letter-spacing: .1em;
    transition: .5s;
}
.company_links a:hover, .company-information-news a:hover {
    color: #d70413;
}
.company_links a:nth-child(-n+6) {
    grid-column: 1;
}
.company_links a:nth-child(7) {
    grid-column: 2;
    grid-row: 2;
}
.company_links a:nth-child(8) {
    grid-column: 2;
    grid-row: 3;
}
.company_links a:nth-child(9) {
    grid-column: 2;
    grid-row: 4;
}
.company_links a:nth-child(10) {
    grid-column: 2;
    grid-row: 5;
}
.company_links a:nth-child(11) {
    grid-column: 2;
    grid-row: 6;
}
.company-information-news {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 6%;
}
.company-information-news h1 {
    margin: 0 0 3% 0;
}
.company-information-news h1::after {
    width: 23%;
}
.company-information-news span {
    font-size: 1vw;
    color: #7c7c7c;
}
.company-contacts {
    display: grid;
    grid-template-columns: 30% 15% 15%;
    grid-column-gap: 4%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 8%;
    justify-content: center;
}
.company-contacts img {
    width: 1.2vw;
    position: relative;
    top: 17%;
    right: 4%;
}
.company-contacts a {
    font-size: 1vw;
    color: #7c7c7c;
    text-decoration: none;
}
.copyright {
    background-color: #121423;
    padding: 1vw 0;
}
.copyright p {
    margin: 0 auto;
    text-align: center;
    font-size: .9vw;
    color: #7c7c7c;
}
.copyright span {
    color: #ffff;
}